/dist/
/node_modules
/node_modules/*
.DS_Store
/playwright/.auth
/playwright-report/*
/test-results/*
/coverage/*
/coverage
/.ui5-tooling-modules
/env/*
.idea/
/report/*
.nyc_output/*

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
