/dist/
/node_modules
/node_modules/*
.DS_Store
/test-results/*
/coverage/*
/coverage
/.ui5-tooling-modules
/env/*
.idea/
/report/*
.nyc_output/*

# Playwright
node_modules/
/test-results/
/blob-report/
