.gray-background-color {
    background-color: #f5f6f7 !important;
}

.outlined-dotted-box-rounded-corners {
    border: 1px dashed #ccc;
    border-radius: 5px;
    padding: 10px;
}

.rounded-box {
    border-radius: 15px;
}